h1 {
    font-size: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .error {
    color: red;
  }
  
  .chambres-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: #f9f9f9;
}

.chambre-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.chambre-card:hover {
  transform: translateY(-5px);
}

.chambre-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.chambre-info {
  padding: 20px;
}

.chambre-info h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

.chambre-info h4 {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #888;
}

.chambre-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #888;
}

.chambre-details span {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.chambre-details i {
  margin-right: 5px;
}

.chambre-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.chambre-pricing .prix {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b06835;
}

.chambre-pricing .adultes {
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.btn-reserver {
  background-color: #b06835;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
}

.btn-reserver:hover {
  background-color: #a05e30;
}

@media (max-width: 768px) {
  .chambres-container {
    grid-template-columns: 1fr;
  }
}
